extends layout
append scripts
    script(src='/js/bootstrap-waitingfor.js')
    script(src='/js/bootstrap-switch.js')


append styles
    link(rel='stylesheet', href='/css/bootstrap-switch.css')

block body
    script.
        waitingDialog.show('Загрузка...', {dialogSize: 'sm'});
    .container
        h1= title
        div.btn-group.btn-group-justified
            a.btn.btn-info(href="/cameras/montage") Просмотр всех камер
            a.btn.btn-warning(id = 'camerasSwitchButton') Переключить все камеры
            a.btn.btn-danger(id = 'camerasAlarmButton') Тревога на всех камерах

        table-responsive
            table.table
                thead
                    tr
                        td Название
                        td Режим
                        td Состояние
                        td Тревога
                        td Изображение

                tbody
                    for monitor in data
                        tr(id = "row"+monitor.id, name="tableRow")
                            td=monitor.name
                            td=monitor.function
                            td
                                input(type='checkbox', name="my-checkbox", id = monitor.id, checked  = monitor.enabled != 0, data-on-text="Вкл.", data-off-text="Выкл.")
                            td
                                input(type='checkbox', name="alarm-checkbox", id = "alarm"+monitor.id, data-on-text="Вкл.", data-off-text="Выкл.")
                            td
                                button.btn.btn-success(type="button",name="btnVideo" id = "btn"+monitor.id) Просмотр
                        tr(id ="video"+ monitor.id, hidden = true)
                            td(colspan="5", id = "videoTd"+ monitor.id)


    script.
        $(document).ready(function () {
            $("[name='my-checkbox']").bootstrapSwitch({animate:false}).each(function (index) {

                    if( this.checked){
                        $("#alarm"+$(this).attr('id')).bootstrapSwitch({onColor: 'danger',animate:false});
                    }else{
                        $("#alarm"+$(this).attr('id')).bootstrapSwitch({onColor: 'danger',disabled:true,animate:false});
                    }
                });





            $("[name='tableRow']").each(function (index) {
                var id = $(this).attr('id').substr(3);
                $.ajax({
                    method: 'GET',
                    timeout: 15000,
                    url: '/cameras/alarm?id=' + id + "&mode=status",
                    complete: function (data) {
                        console.log(data.responseText);
                        if(!data.responseText.includes('0')){
                            $("#row"+id).addClass("danger");
                            $("#alarm"+id).bootstrapSwitch('state', true);

                        }waitingDialog.hide();
                    }
                });

            });

        });

    script.
        $("[name='btnVideo']").click(function (index) {
            var id = $(this).attr('id').substr(3);
            if($("#videoTd"+id +" .camVideo").length){
                $("#video" + id).toggle(1000);
                $("#videoTd" + id).empty();

            }
            else{
                $.ajax({
                    method: 'GET',
                    timeout: 15000,
                    url: '/cameras/' + id,

                    complete: function (data) {

                        $("#videoTd" + id).append(data.responseText);
                        $("#video" + id).toggle(1000);

                    }
                });

            }





        });

    script.
        $("[name='alarm-checkbox']").on('change.bootstrapSwitch', function (e) {

            var id = e.target.id.substr(5);
            var rawId = "#row"+ id;
            var mode = "";
            if (e.target.checked){
                mode = "on";
                $(rawId).addClass("danger");
            }
            else {
                mode = "off";
                $(rawId).removeClass("danger");
            }
            $.ajax({
                method: 'GET',
                timeout: 15000,
                url: '/cameras/alarm?id='+id+"&mode="+mode,
                complete: function (data) {
                    console.log(data.responseText);

                }
            });



        });


    script.
        $("[name='my-checkbox']").on('change.bootstrapSwitch', function (e) {
            console.log(e.target.checked, e.target.id);

            var checked =e.target.checked;
            var id = e.target.id;
            waitingDialog.show('Выполнение...', {dialogSize: 'sm'});
            $.ajax({
                method: 'POST',
                timeout: 15000,
                url: '/cameras/changeState',
                data: {
                    'monitorId': e.target.id,
                    'value': e.target.checked ? 1:0
                },
                dataType: 'json',
                complete: function (data) {

                    if (!checked){
                        $("#alarm"+id).bootstrapSwitch('toggleDisabled');
                    }
                    else{
                        $("#alarm"+id).bootstrapSwitch('toggleDisabled');
                    }
                    waitingDialog.hide();
                    console.log(data.responseText);


                }
            });

        });

    script.
        $('#camerasSwitchButton').click(function () {
            alert("Внимание! Функция в разработке, возможно неправильное поведение")
            $("[name='my-checkbox']").each(function (index) {
                $(this).click();
            })
            setTimeout(location.reload(),7000)
        })

    script.
        $('#camerasAlarmButton').click(function () {
            alert("Внимание! Функция в разработке, возможно неправильное поведение")
            $("[name='alarm-checkbox']").each(function (index) {
                $(this).click();
            })
        })



