extends layout

block content
  h1= title
  p Вы вошли как: #{username}
    a(href="/logout")
      button(type="button") Выход

  a(href="/cameras")
    button(type="button") Камеры
  a(href="/events")
    button(type="button") События
