extends layout

block content
  h1= title
  p Welcome to #{title}
  img.camVideo#Monitor1(src="http://195.133.1.227/zm/cgi-bin/nph-zms?mode=jpeg&monitor=1&scale=50&maxfps=20&user=admin&pass=29069547kostya" alt="Monitor-1")
