extends layout

block body
  .container
    h1= title


    a(href="/cameras")
      button.btn.btn-primary(type="button") Камеры
    a(href="/events")
      button.btn.btn-primary(type="button") События
