extends layout

block content
    h1 Welcome to the Security Cams App
    p Please, log in:

    div: form(method='post', class='form-vertical', id="logInForm")
        if errors
            ul
                for error in errors
                    li!= error
        div.form-group
            label Username:
            input.form-control(name='username',  autofocus)

        div.form-group
            label Password:
            input.form-control(name='password', type='password')

        div.form-actions
            input.btn.btn-primary(type='submit', value='Login')